/*Removes margins.*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Centers the contents on the page, and sents a background collor.*/
body {
  background-color: darkblue;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}
/*Sets width and height of the play board, set the divs in a grid and set the grid.*/
.board {
  width: 320px;
  height:320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  background-image:url(/images/grid.png);
  background-size: cover;
  border-radius: 3rem;
  box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5)
}

/*Gives a nice visual feed back that the are can be cliked.*/
.board:hover {
  cursor: pointer;
}
/*Fits the image nicley into the squares.*/
.circle {
  background-image: url(/images/circle.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/* Fits the image nicley into the squares.*/
.cross {
  background-image: url(/images/cross.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
#title {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/* Styles the text.*/
#result {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

#player {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/* Styles the text.*/
#scorrecontainer {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/* Styles the text.*/
#scorreO {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/* Styles the text.*/
#scorreX {
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/*Styels the reset button*/
button {
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 2rem;
  padding: 0.7rem 1rem;
  color: darkblue;
}
/*Adds hover effect to button*/
button:hover {
  cursor: pointer;
  background-color: yellow;
}